target/*
**/node_modules/**
**/package-lock.json
docs/ironcalc.dev/dist/
bindings/python/docs/_static/logo-light.svg
bindings/python/docs/_static/logo-dark.svg
.DS_Store
webapp/IronCalc/tests/example.ic
