target/*
**/node_modules/**
docs/ironcalc.dev/dist/
bindings/python/docs/_static/logo-light.svg
bindings/python/docs/_static/logo-dark.svg
.DS_Store
bindings/wasm/pkg/
webapp/IronCalc/tests/example.ic
