.ic-format-picker-backdrop {
  position: fixed;
  inset: 0;
  z-index: 1400;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 32%);
}

.ic-format-picker-dialog {
  min-width: 280px;
  background: var(--palette-common-white);
  border-radius: 8px;
  box-shadow:
    0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%),
    0px 9px 46px 8px rgb(0 0 0 / 12%);
}

.ic-format-picker-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  padding: 0 12px;
  font-family: var(--typography-font-family);
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid var(--palette-grey-300);
}

.ic-format-picker-content {
  margin: 12px;
  font-size: 12px;
}

.ic-format-picker-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
  color: var(--palette-grey-600);
  font-family: var(--typography-font-family);
  border-top: 1px solid var(--palette-grey-300);
}
