.ic-themes-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--typography-font-family);
}

.ic-themes-header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  border-bottom: 1px solid var(--palette-grey-300);
  flex-shrink: 0;
}

.ic-themes-header-title {
  width: 100%;
  font-size: var(--typography-font-size);
}
